*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html,body{
    width: 100%;
    height: 100%;
}


#main{
    width: 100%;
    background-color: #fff;
}

#home{
    width: 100%;
    min-height: 100vh;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}


#nav img{
    width: 100px;
}

#right{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a{
    text-decoration: none;
    font-weight: 400;
    color: #000;
}

#nav i{
    font-size: 25px;
}

#home #homemain{
    width: 100%;
    padding: 15vw 15vw;
}

#homemain h1{
    font-weight: 400;
    font-size: 1.5vw;
}

.heading{
    display: flex;
    gap: 40px;
}

#homemain .heading h1{
    font-size: 7vw;
    font-weight: 800;
    letter-spacing: -.5px;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
#homemain .heading h1:hover{
    color: #000;
}

#homelast {
    padding: 2vw 15vw;
    width: 80%;
}

#homelast p{
    font-size: 1.5vw;
    font-weight: 400;
}

#homelast p::selection{
    color: #fff;
    background-color: #000;
}

#featured{
    padding: 3vw 15vw;
    background-color: rgb(0, 0, 0);
}

.fheading h1{
    font-size: 4vw;
    font-weight: 400;
    color: #fff;
}

.fheading h1:nth-child(2){
    color: black;
    -webkit-text-stroke: 1px #ffffff;
}

#fimages{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin-top: 5vw;
    width: 100%;
}

#fleft{
    overflow: hidden;
    width: 45%;
    height: inherit;
}

.fleftelem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
    color: #fff;
}

.fleftelem h1{
    font-size: 2.5vw;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.fleftelem h3{
    font-size: 1.5vw;
    font-weight: 400;
}

.fleftelem h4{
    opacity: .4;
}



#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
}

#fright .images{
    width: 100%;
    height: 90%;    
}


.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btndiv button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    background-color: #fff;
    border: 2px solid rgb(212, 212, 212);
    font-size: 1vw;
    font-weight: 500;
    margin-top: 2vw;
}

#dev{
    width: 100%;
    padding: 15vw 15vw 5vw 15vw;
}

#dev h1{
    font-size: 4vw;
    font-weight: 400;
    width: 60%;
}

#dev p{
    width: 60%;
    font-size: 1.5vw;
    margin-top: 2vw;
    font-weight: 400;
}
#dev p::selection{
    color: #fff;
    background-color: #000;
}

#slides{
    padding: 5vw 5vw;
    display: flex;
    justify-content: space-between;
}

.slide{
    width: 30%;
}

.slide .image{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.slide .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .tag{
    width:fit-content;
    margin: 20px 0;
    padding: 10px 22px;
    background-color: #f3f3f3;
    border-radius: 100px;
}

.slide h1{
    font-size: 1.7vw;
    font-weight: 500;
}

#footer{
    width: 100%;
    padding: 5vw 15vw;
}
